/*
#464866#25274D
*/
*{
	margin: 0;
	padding: 0;
}

.navbar-brand img
{
	height: 30px;
	width: 100px;
	margin-top: 0px;
	margin-left: 0px;
}

.dropdown-item img{
	height: 40px;
	width: 40px;	
}

.img1{
	display: inline;
	float: right;
}

.layout{
	width: 70%;
	float: right;
	padding: 6vh;
}

.layout button{
	margin-top: 5vh;
}


#sidebar {
	border: 2px solid black;
	text-align: center;
	margin: 12vh 2vw;
	max-width: 25vw;
	height: 85vh;
	overflow: hidden;
}
#sidebar h1{
	background-color:#AAABBB;
}

#slideshow {
  overflow: hidden;
}

.slide-wrapper {
  -webkit-animation: slider 18s ease infinite;
}

.slide {
  min-height: 270px;
  border-bottom: 2px solid black;
  padding: 10px;
}

@-webkit-keyframes slider {
  20% {margin-top: 0px;}
  30% {margin-top: -270px;}
  50% {margin-top: -270px;}
  60% {margin-top: -540px;}
  70% {margin-top: -540px;}
  80% {margin-top: -810px;}
  90% {margin-top: -810px;}
}




.col button
{
	margin-top: 90px;
}

.upcoming{
	margin-top: 7vh;	
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}