/*
#AAABB8
#464866
#25274D
#2E9CCA
#29648A
*/
*{
	margin: 0;
	padding: 0;
}

/*body{
	font-family: "Noto Serif SC", serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Permanent Marker', cursive;
}*/

nav{
	background-color: #25274D;
	font-family: "Noto Serif SC", serif;
}

.navbar-brand img
{
	height: 40px;
	width: auto;
	margin-top: 0px;
	margin-left: 0px;
}

.dropdown button{
	background-color: #2E9CCA;
}

.dropdown-item img{
	height: 40px;
	width: 40px;	
}

.img1{
	display: inline;
	float: right;
}

.layout{
	/display: inline-block;
	width: 70%;
	margin-top: 10vh;
	float: right;
	font-family: "Noto Serif SC", serif;
}

.layout button{
	margin-top: 12vh;
	width: 200px;
	background-color: #464866;
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

#sidebar {
	display: inline-block;
	border: 2px solid #29648A;
	text-align: center;
	margin: 13vh 0 0 2vw;
	width: 300px;
	height: 75vh;
	overflow: hidden;
	font-family: "Noto Serif SC", serif;
	float: left;
}
#sidebar h1{
	background-color: #2E9CCA;
	color: #25274D;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	font-family: 'Permanent Marker', cursive;
}

#slideshow {
  overflow: hidden;
}

.slide-wrapper {
  -webkit-animation: slider 18s ease infinite;
}

.slide {
  min-height: 270px;
  border-bottom: 2px solid #29648A;
  padding: 15px;
  
}

@-webkit-keyframes slider {
  20% {margin-top: 0px;}
  30% {margin-top: -270px;}
  50% {margin-top: -270px;}
  60% {margin-top: -540px;}
  70% {margin-top: -540px;}
  80% {margin-top: -810px;}
  90% {margin-top: -810px;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

footer{
	background-color: black;
	color: white;
}
