/*
#AAABB8
#464866  light blue
#25274D  dark blue
#2E9CCA  light green
#29648A
*/

*{
	margin: 0;
	padding: 0;
}

nav{
	background-color: #25274D;
	font-family: "Noto Serif SC", serif;
}

.navbar-brand img {
	height: 40px;
	width: auto;
}

.dropdown button{
	background-color: #2E9CCA;
}

.dropdown-item img{
	height: 40px;
	width: 40px;	
}

.lt-main{
	margin-top: 65px;
	text-align: center;
  margin-bottom: 65px;
}

.info-bar{
  background: #29648A;
  /border-right: 2px solid black;
  padding: 20px;
  align-items: center;
  /margin-bottom: 65px; 
}

/*form .form-row{
	padding: 10px;
}*/

.form-group{
	margin: 0 auto;
}

.list-group{
	margin: 0 auto;
}

.lt-btn {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px;
  width: 120px;
  height: 120px;
}
.lt-btn:hover {
  background-color: lightgray;
}
.lt-btn:focus {
  background-color: lightseagreen;
}

.footer{
	background-color: black;
	color: white;
}

#scroll-top{
	display: none;
}


/**  Sidebar********************************************************************** */

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #AAABB8;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #29648A;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #2E9CCA;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
}

@media screen and (max-width: 700px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    }
    div.content {margin-left: 0;}
}


.info{
  /padding: 20px;
  margin: 50px;
  border-color: #2E9CCA;
}

.header{
  font-family: "Permanent Marker";
  margin-bottom: 10px;
  color: #2E9CCA;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.info h3{
  text-decoration: underline;
  margin-bottom: 20px;
  font-weight: bold;

}

#hidden{
  display: none;
  margin-bottom: 20px;
}