/*
#AAABB8
#464866  light blue
#25274D  dark blue
#2E9CCA  light green
#29648A
*/

*{
	margin: 0;
	padding: 0;
}

body{
	 overflow-x: hidden;
}

nav{
	background-color: #25274D;
	font-family: "Noto Serif SC", serif;
}

.navbar-brand img {
	height: 40px;
	width: auto;
}

.dropdown button{
	background-color: #2E9CCA;
}

.dropdown-item img{
	height: 40px;
	width: 40px;	
}

.home-main {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 15px;
}

.layout{
	display: inline-block;
	width: 60%;
	/border: 2px solid black;
	margin: 2vh;
	font-family: "Noto Serif SC", serif;
}

.layout button{
	margin: 6vh 0;
	width: 200px;
	background-color: #464866;
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.carousel {
	display: inline-block;
	width: 300px;
	border: 2px solid black;
	margin-top: 80px;
	font-family: "Noto Serif SC", serif;
	background-color: #29648A;
	color: white;
}

.carousel-header {
	padding: 10px;
	border-bottom: 2px solid black;
	background-color: #2E9CCA;
	color: #25274D;
	text-align: center;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;	
}

.carousel-inner {
	padding: 20px;
	height: 50vh;
}

.footer{
	background-color: black;
	color: white;
}

#scroll-top{
	display: none;
}



